<div class="legend">
    <div class="legend-item">
        <h4>Máscara</h4>
        
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/required-mask.png" alt="required mask image">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/recommended-mask.png" alt="recommended mask image">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Toalha</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="assets/images/png/required-towel.png" alt="required towel image">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="assets/images/png/recommended-towel.png" alt="recommended towel image">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Bebedouro</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="assets/images/png/partial-fountain.png" alt="partial fountain image">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="assets/images/png/not_allowed-fountain.png" alt="not allowed fountain image">
                <p>Proibido</p>
            </div>
        </div>
    </div>
    
    <div class="legend-item">
        <h4>Vestiário</h4>

        <div class="legend-images">
            <div class="legend-image">
                <img src="assets/images/png/allowed-lockerroom.png" alt="allowed lockerroom image">
                <p>Liberado</p>
            </div>

            <div class="legend-image">
                <img src="assets/images/png/partial-lockerroom.png" alt="partial lockerroom image">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="assets/images/png/closed-lockerroom.png" alt="closed lockerroom image">
                <p>Fechado</p>
            </div>
        </div>
    </div>
</div>